<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="INFO" />
		<appender-ref ref="RollingFileAppender" />
	</root>

	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\TaskManagement-Collab-Log\Logg\Log4NetLogg.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />			
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %logger - %message%newline" />
		</layout>
	</appender>

	
</log4net>